<br />
<nav
  class="flex flex-wrap items-center text-base container mx-auto p-5 flex-col md:flex-row bg-black text-white w-full"
>
  <div class="mr-auto">
    <a class="mr-10" routerLink="posts" routerLinkActive="active">Posts</a>
    <a
      routerLink="posts/create"
      routerLinkActive="active"
      *ngIf="showCreatePostButton"
      >Crear post</a
    >
  </div>
  <div class="ml-auto">
    <a
      class="ml-12"
      routerLink="register"
      routerLinkActive="active"
      *ngIf="showRegisterButton"
      >Registrarse</a
    >
    <a
      class="ml-12"
      routerLink="login"
      routerLinkActive="active"
      *ngIf="showLoginButton"
      >Login</a
    >
  </div>
</nav>

<div class="text-center">
  <router-outlet></router-outlet>
</div>
