<br />
<div class="container">
  <h3 class="text-center">Formulario de registro</h3>
  <br />
  <br />
  <form (ngSubmit)="onSubmit(postForm)" #postForm="ngForm">
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2"></label>
      <input
        type="email"
        class="shadow appearance-none border rounded w-96 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Correo electronico"
        name="email"
        [(ngModel)]="user.email"
        required
        #email="ngModel"
        id="email"
        pattern="^\w+([.-]?\w+)*@(gmail|hotmail|outlook)\.com$"
      />
      <br />
      <br />
      <div
        class="text-red-500 text-base bg-red-100 rounded py-4 mx-auto w-80"
        *ngIf="email.invalid && (email.dirty || email.touched)"
      >
        <div *ngIf="email?.errors?.['required']">El email es requerido</div>
        <div *ngIf="email?.errors?.['pattern']">
          El email debe de ser de gmail, hotmail o outlook
        </div>
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2"></label>
      <input
        type="password"
        class="shadow appearance-none border rounded w-96 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Contraseña"
        name="password"
        [(ngModel)]="user.password"
        required
        minlength="6"
        maxlength="40"
        #password="ngModel"
        id="password"
      />
      <br />
      <br />
      <div
        class="text-red-500 text-base bg-red-100 rounded py-4 mx-auto w-80"
        *ngIf="password.invalid && (password.dirty || password.touched)"
      >
        <div *ngIf="password?.errors?.['required']">
          La contraseña es requerido
        </div>
        <div *ngIf="password?.errors?.['minlength']">
          La contraseña debe de tener mas de 6 caracteres
        </div>
        <div *ngIf="password?.errors?.['maxlength']">
          La contraseña debe de tener menos de 40 caracteres
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Logearse
    </button>
    <br />
    <br />
    <div
      *ngIf="error"
      class="text-red-500 text-base bg-red-100 rounded py-4 mx-auto w-80"
    >
      {{ error }}
    </div>
    <div
      *ngIf="formSubmitted && postForm.invalid"
      class="text-red-500 text-base bg-red-100 rounded py-4 mx-auto w-80"
    >
      Debes rellenar todos los campos
    </div>
  </form>
</div>
