<div class="container">
  <h3 class="text-center">Edicion de posts</h3>
  <br />
  <br />
  <form (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Titulo</label>
      <input
        type="text"
        class="shadow appearance-none border rounded w-96 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Titulo"
        name="title"
        [(ngModel)]="post.title"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">Contenido</label>
      <input
        type="text"
        class="shadow appearance-none border rounded w-96 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Contenido"
        name="content"
        [(ngModel)]="post.content"
      />
    </div>

    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Actualizar
    </button>
    <br />
    <br />
    <button
      (click)="goBack()"
      class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
    >
      Volver
    </button>
  </form>
</div>
